<!DOCTYPE html>
<html lang="ro">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NQCKC7H');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Board Games Meet-up.">
    <%- include('components/css-files'); %>
    <title>Board Games Meet-up</title>
</head>

<body>
    <main>
        <%- include('components/topbar'); %>
        <%- include('components/showcase'); %>
        <%- include('components/whyus'); %>
        <%- include('components/faq'); %>
        <%- include('components/cere-oferta'); %>
        <%- include('components/contact'); %>
        <%- include('components/motto'); %>
        <%- include('components/review'); %>
        <%- include('components/footer'); %>
    </main>
    
    <script src="./js/particle.min.js"></script>
    <script src="./js/particle.js"></script>
    <script src="./js/aos.js"></script>
    <script src="./js/splide.min.js"></script>
    <script src="./js/wave.min.js"></script>

    <script src="./js/components/waves-init.js"></script>
    <script src="./js/components/splide-init.js"></script>
    <script src="./js/components/aos-init.js"></script>
    <script src="./js/components/scroll-to.js"></script>
    <script src="./js/components/menu-mobile.js"></script>
    <script src="./js/components/cards-view-more.js"></script>
    <script src="./js/components/faq.js"></script>
    <script src="./js/components/cere-oferta.js"></script>
    <script src="./js/components/review.js"></script>
</body>

</html>